SEED="peanut grocery material tenant soccer love stereo trial leader mask sunny great"
NETWORKID="development"
ETHNODEDURL="localhost"
ETHNODEPORT="7545"
ADMIN="0x"
TOKENCONTRACT="0x"
MERCHANTCONTRACT="0x"
TOKENABIPATH="/"
TOKENCONTRACTPATH="/"


