# Eth node

NETWORKNAME="development"
#ETHNODEDURL="localhost"
#ETHNODEPORT="7545"
ETHNODEURL="http://localhost:7545"
ETHNODEWSURL="http://localhost:7545"
NETWORKID=5777
GASPRICE=2000000000
GAS=2000000

# For abi links
TOKENCONTRACTNAME="GatewayERC20Contract"
MERCHANTCONTRACTNAME="PaymentGatewayContract"
PRESALECONTRACTNAME="Presale"

# Token contract addresses
TOKENCONTRACTADDRESS="0x8c951fe19dbf212ae4c57198891ad9dd5f446d1c"
MERCHANTCONTRACTADDRESS="0x"
PRESALECONTRACTADDRESS="0x221008c012f271eed2047136ed3445436dc0388f"

# Accounts
SEED="peanut grocery material tenant soccer love stereo trial leader mask sunny great"
CONTRACTOWNER="0x3fAbE74712f7CBaEd335BA7b60C3493Fc16c7BdB"

## For testing
MERCHANTADDRESS="0x5C3356216a5AF404486f1a98A2c1C5AB68d95499"
ALICEADDRESS="0xAE6C0b574524Aa57425C2dda4B913A876b1B71D1"
BOBADDRESS="0x026849d331e8f8838183F5758796aDb16222f6f1"
CHARLIEADDRESS="0x1Abf5092f1fcBC451Be8a09Ca1035AEAC89A7e5B"

# TOKENABIPATH=""
# TOKENCONTRACTPATH="/"


