SEED="peanut grocery material tenant soccer love stereo trial leader mask sunny great"
NETWORKNAME="development"
#ETHNODEDURL="localhost"
#ETHNODEPORT="7545"
ETHNODEFULLPATH="http://localhost:7545"
NETWORKID=5777

# For abi links
TOKENCONTRACTNAME=""
MERCHANTCONTRACTNAME=""
PRESALECONTRACTNAME=""

# Token contract addresses
TOKENCONTRACTADDRESS="0x"
MERCHANTCONTRACTADDRESS="0x"
PRESALECONTRACTADDRESS="0x"

# For testing
MERCHANTADDRESS="0x"
ALICEADDRESS="0x"
BOBADDRESS="0x"
CHARLIEADDRESS="0x"

# TOKENABIPATH=""
# TOKENCONTRACTPATH="/"


