#Ethereum node settings
ETHNODEPORT=8545
ETHNODEDOMAIN="localhost"
ETHNODEPATH=""

#Accounts & Addresses
ACCOUNTSEED="hollow reduce afford gaze blast oak entire essence fantasy man industry donkey six left avocado"
ADMINACCOUNT=""
TOKENCONTRACT=""
MERCHANTCONTRACT=""
PRESALECONTRACT=""




